{% extends 'movie/header.html' %}

{% block content %}
    <form method="post" class="sign-up-form" action="{% url 'sign_up' %}">
        <h1 class="form-title">Sign Up</h1>
        {% csrf_token %}
        <div class="form-name">
            <input type="text" name="first_name" placeholder="FIRST NAME" autocomplete="off">
            <input type="text" name="last_name" placeholder="LAST NAME" autocomplete="off">
        </div>
        <input type="email" name="email" placeholder="EMAIL" autocomplete="off">
        <input type="text" name="username" placeholder="ID" autocomplete="off">
        <input type="password" name="password" placeholder="PASSWORD" autocomplete="off">
        <input type="password" name="password_check" placeholder="PASSWORD CHECK" autocomplete="off">
        <button type="submit">SIGNUP</button>
    </form>
{% endblock %}